.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 1px 2px 7px 0px rgba(105, 103, 103, 0.33);
  border-radius: 10px;
  margin-top: 5rem;
  background-color: white;
}

.content_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subtitles {
  margin-left: 1rem;
  color: rgb(124, 122, 121);
  font-size: 3rem;
  letter-spacing: 2.4px;
  font-weight: 500;
}

.title {
  margin-top: 1rem;
  margin-left: 1rem;
  color: black;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.paragraphe {
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(36, 35, 35);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.content_right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 7.5px;
}

.imagen {
  display: none;
  border-radius: 7.5px 0 0 7.5px;
  margin-right: 4rem;
  width: 134px;
  height: 40px;
}

.title_section {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  padding: 0 1rem;
}

.example {
  box-shadow: 1px 2px 7px 0px rgba(105, 103, 103, 0.33);
  height: 80px;
  border-radius: 7.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
}

@media screen and (min-width: 1024px) {
  .main {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .content_left {
    width: 50%;
    text-align: left;
  }
  .subtitles {
    margin-left: 10rem;
  }
  .title {
    margin-top: 1rem;
    margin-left: 10rem;
  }
  .paragraphe {
    margin-top: 4rem;
    margin-left: 10rem;
    font-size: 2rem;
  }
  .content_right {
    width: 50%;
  }

  .example {
    box-shadow: 1px 2px 7px 0px rgba(105, 103, 103, 0.33);
    height: 80px;
    border-radius: 7.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    background-color: white;
  }

  .container_example {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  .imagen {
    border-radius: 7.5px 0 0 7.5px;
    margin-right: 4rem;
    width: 269px;
    height: 80px;
    display: block;
  }
  .title_section {
    text-align: center;
    font-size: 2rem;
    border: none;
    margin: 2rem 0;
    padding: 0;
  }
}
