.content_footer {
  margin: 4rem 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.php,
.react,
.integrate {
  border: 2px solid rgb(244, 126, 86);
  border-radius: 10px;
}

.integrate {
  grid-area: integrate;
}
.php {
  grid-area: php;
}
.react {
  grid-area: react;
  padding-top: 4rem;
  padding-left: 20%;
}
.media {
  width: 95%;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: rgb(255, 183, 101);
  color: black;
  transition: all 0.9s ease;
}

.layer .layer_text {
  transition: all 0.9s ease;
  transform: scale(0.1);
}

.layer_text {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
}
.media:hover .layer .layer_text {
  transform: scale(1);
  transition: all 0.5s ease;
}
.badge {
  position: absolute;
  top: 20px;
  right: 2.5rem;
  width: 100px;
  height: auto;
  padding: 10px;
  z-index: 4;
  font-size: 1.5rem;
  background-color: rgb(253, 159, 1);
  color: aliceblue;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.badge:hover {
  background-color: rgb(250, 213, 149);
  color: black;
  border: 2px solid rgb(253, 159, 1);
  font-weight: 700;
}
.contacts {
  list-style: none;
}
.react_title {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
.adresse {
  margin: 0.5rem 0;
  display: inline-flex;
  align-items: center;
  width: 80%;
}
.content_footer {
  margin: 4rem 0;
  width: 100%;
  height: 28rem;
  display: grid;
  grid-template-areas: "integrate php react";
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.media {
  width: 469px;
  height: 300px;
}
.adresse a {
  color: var(--black);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 2rem;
  font-weight: 500;
  display: block;
}

.email {
  padding-left: 1rem;
  width: 80%;
}
